
# 하위 폴더에 있는 모든 node_modules 폴더 무시
# **/node_modules
# **/**/node_modules

# 하위 폴더에 있는 모든 .DS_Store 파일 무시
# **/node_modules/**
**/**/.DS_Store

**/dist
**/**/dist
**/**/**/dist
**/logs/combined.log
be/logs/combined.log
