# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build output
dist/
build/
client/build/
server/build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files
.env
.env.*  # e.g., .env.local, .env.production

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Test coverage
coverage/

# Temporary files
*.tmp
*.swp
*.swo
