.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 8px;
  position: relative;

  .modal-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .tabs {
      display: flex;
      gap: 35px;

      button {
        background: none;
        border: none;
        font-size: 16px;
        color: #ccc;
        cursor: pointer;

        &.active {
          font-weight: bold;
          color: black;
        }
      }
    }
  }

  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;


    .submit-btn {
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
    
    .input-with-button {
      display: flex;
      align-items: flex-end;
    }

    .check-btn {
      color: black;
      padding: 6px 6px;
      font-size: 10px;
      background: #eee;
      border: 1px solid #aaa;
      cursor: pointer;
      white-space: nowrap;
      height: 36.1px; 
      margin: auto;
      margin-bottom: 10px;
      border-radius: 0 10px 10px 0;
    }

    .error-message {
      color: red;
      margin-top: -20px;
      font-size: 0.75rem;
      text-align: right;
    }

    .info-message {
      color: #2c7be5;
      font-size: 0.75rem;
      margin-top: -10px;
      text-align: right;
    }


  }
}

input[type='text'] {
  margin: 0 0 10px 0;
}

.field {
  margin-bottom: 12px;
}

